version: "3.8"

name: basic-framework
services:
  api:
    container_name: basic-framework-api
    build:
      context: server
      dockerfile: Dockerfile
    ports:
      - "16000:8080"
    environment:
      - ENV=development
    restart: unless-stopped
    networks:
      - basic-framework-network
    depends_on:
      - db
  db:
    image: mysql:8.4.7
    container_name: basic-framework-db
    ports:
      - "16001:3306"
    volumes:
      - basic-framework-db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: bf-root-pass!9894@
      MYSQL_DATABASE: basic-web
      MYSQL_USER: user
      MYSQL_PASSWORD: bf-pass!9894@
    restart: unless-stopped
    networks:
      - basic-framework-network

  # cache:
  #   image: redis:8.4.0-alpine
  #   container_name: basic-framework-cache
  #   ports:
  #     - "16002:6379"
  #   restart: unless-stopped
  #   networks:
  #     - basic-framework-network

networks:
  basic-framework-network:
    driver: bridge

volumes:
  basic-framework-db:
    driver: local
