.lobby-layout {
}

.lobby-leftside {
  width: calc(var(--spacing) * 20);
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid var(--color-stone-300);
}

.lobby-rightside {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  width: calc(100vw - var(--spacing) * 20);
}
