.lobby-layout {
  display: grid;
  grid-template-columns: calc(var(--spacing) * 20) 1fr;

  height: 100vh;
}

.lobby-leftside {
  width: calc(var(--spacing) * 20);
  min-height: 100%;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid var(--color-stone-300);
  display: grid;
  grid-template-rows:
    calc(var(--spacing) * 20) 1fr calc(var(--spacing) * 14)
    calc(var(--spacing) * 20);
}

.lobby-rightside {
  min-height: 100%;
  height: 100%;
  overflow-y: auto;
}

/* Lobby Styles */
.lobby-index {
  box-sizing: border-box;
  height: 100%;
  display: grid;
  grid-template-rows: calc(var(--spacing) * 16) repeat(4, 1fr);
  grid-template-columns: calc(var(--spacing) * 65) repeat(4, 1fr);
}

.lobby-header {
  border-bottom: 1px solid var(--color-stone-300);
  height: calc(var(--spacing) * 20);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Guild Dashboard Styles */
.guild-dashboard {
  box-sizing: border-box;
  height: 100vh;
  width: calc(100vw - var(--spacing) * 20);
  display: grid;
  grid-template-columns:
    calc(var(--spacing) * 65) 1fr
    calc(var(--spacing) * 140);
  grid-template-rows: calc(var(--spacing) * 16) 1fr 1fr;

  @media (max-width: 1280px) {
    grid-template-columns:
      1fr
      calc(var(--spacing) * 100);
  }

  @media (min-width: 1800px) {
    grid-template-columns:
      calc(var(--spacing) * 65) 1fr
      calc(var(--spacing) * 120) calc(var(--spacing) * 120);
  }
}

.guild-dashboard-header {
  border-bottom: 1px solid var(--color-stone-300);
  grid-column: 1 / span 4;
  display: flex;
  align-items: center;
}

.guild-dashboard-leftside {
  border-right: 1px solid var(--color-stone-300);
  padding: var(--spacing);

  height: calc(100vh - var(--spacing) * 16);
  padding: calc(var(--spacing) * 3);

  grid-row-start: 2;
  grid-row-end: 4;

  @media (max-width: 1280px) {
    display: none;
  }
}

.guild-dashboard-mainside {
  overflow-y: auto;
  height: calc(100vh - var(--spacing) * 16);
  border-right: 1px solid var(--color-stone-300);
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;

  @media (max-width: 1280px) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.guild-dashboard-subside {
  border-right: 1px solid var(--color-stone-300);
  overflow-y: auto;
  min-height: 100%;

  @media (max-width: 1280px) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (max-width: 1800px) and (min-width: 1281px) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  @media (min-width: 1800px) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }
}

.guild-dashboard-rightside {
  overflow-y: auto;
  height: 100%;
  min-height: 100%;

  @media (max-width: 1280px) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-bottom: 1px solid var(--color-stone-300);
  }

  @media (max-width: 1800px) and (min-width: 1281px) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    border-bottom: 1px solid var(--color-stone-300);
  }
  @media (min-width: 1800px) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
  }
}

.guild-dashboard-overlayside {
  position: fixed;
  top: calc(var(--spacing) * 16);
  right: 0;
  max-width: calc(var(--spacing) * 140);
  width: 95%;
  height: calc(100vh - var(--spacing) * 16);
  background-color: var(--color-stone-100);
  border-left: 1px solid var(--color-stone-300);
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}
.guild-dashboard-overlayside.closed {
  transform: translateX(100%);
}

.guild-chat {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.guild-chat-messages {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  padding: calc(var(--spacing) * 2);
}

.guild-chat-input {
  box-sizing: border-box;
  border-top: 1px solid var(--color-stone-300);
  padding: calc(var(--spacing) * 4);
}
.guild-world {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: calc(var(--spacing) * 24) 1fr;
  min-height: 100%;
  height: 100%;
}

.chat-message h1 {
  font-size: 1.8rem;
  font-weight: 600;
}
.chat-message h2 {
  font-size: 1.4rem;
  font-weight: 500;
}
.chat-message h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
.chat-message p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.chat-message blockquote {
  border: solid 1px var(--color-stone-300);
  border-radius: 0.375rem;
  padding-left: calc(var(--spacing) * 5);
  padding-right: calc(var(--spacing) * 5);
  color: var(--color-stone-600);
}

.chat-message em {
  font-style: italic;
}
