.lobby-layout {
  display: flex;
}

.lobby-leftside {
  width: calc(var(--spacing) * 20);
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid var(--color-stone-300);
  display: grid;
  grid-template-rows: calc(var(--spacing) * 20) 1fr calc(var(--spacing) * 20);
}

.lobby-rightside {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  width: calc(100vw - var(--spacing) * 20);
}

/* Lobby Styles */
.lobby-index {
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-rows: calc(var(--spacing) * 16) repeat(4, 1fr);
  grid-template-columns: calc(var(--spacing) * 65) repeat(4, 1fr);
}

.lobby-header {
  border-bottom: 1px solid var(--color-stone-300);
  height: calc(var(--spacing) * 20);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Guild Dashboard Styles */
.guild-dashboard {
  box-sizing: border-box;
  height: 100vh;
  width: calc(100vw - var(--spacing) * 20);
  display: grid;
  grid-template-columns:
    calc(var(--spacing) * 65) calc(var(--spacing) * 200) calc(
      var(--spacing) * 100
    )
    1fr;
  grid-template-rows: calc(var(--spacing) * 16) 1fr;
}

.guild-dashboard-header {
  border-bottom: 1px solid var(--color-stone-300);
  grid-column: 1 / span 4;
  display: flex;
  align-items: center;
}

.guild-dashboard-leftside {
  border-right: 1px solid var(--color-stone-300);
  padding: var(--spacing);

  height: calc(100vh - var(--spacing) * 16);
  padding: calc(var(--spacing) * 3);
}

.guild-dashboard-mainside {
  overflow-y: auto;
  height: calc(100vh - var(--spacing) * 16);
  border-right: 1px solid var(--color-stone-300);
}

.guild-dashboard-subside {
  overflow-y: auto;
  min-height: 100%;
}

.guild-dashboard-rightside {
  border-left: 1px solid var(--color-stone-300);
  overflow-y: auto;
  height: calc(100vh - var(--spacing) * 16);
}

.guild-dashboard-overlayside {
  position: fixed;
  top: calc(var(--spacing) * 16);
  right: 0;
  width: calc(var(--spacing) * 100);
  height: calc(100vh - var(--spacing) * 16);
  background-color: var(--color-stone-100);
  border-left: 1px solid var(--color-stone-300);
  transition: transform 0.3s ease-in-out;
}
.guild-dashboard-overlayside.closed {
  transform: translateX(100%);
}

.guild-chat {
  height: calc(100vh - var(--spacing) * 16);
  display: grid;
  grid-template-rows: 1fr calc(var(--spacing) * 30);
  grid-row-gap: calc(var(--spacing) * 5);
}

.guild-chat-messages {
  box-sizing: border-box;
  height: 100%;
  grid-row: 1 / 2;
  overflow-y: auto;
  padding: calc(var(--spacing) * 2);
}

.guild-chat-input {
  box-sizing: border-box;
  grid-row: 2 / 3;
  border-top: 1px solid var(--color-stone-300);
  padding: calc(var(--spacing) * 4);
}
.guild-world {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: calc(var(--spacing) * 24) 1fr;
  min-height: 100%;
  height: 100%;
}

.chat-message h1 {
  font-size: 1.8rem;
  font-weight: 600;
}
.chat-message h2 {
  font-size: 1.4rem;
  font-weight: 500;
}
.chat-message h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
.chat-message p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.chat-message blockquote {
  border: solid 1px var(--color-stone-300);
  border-radius: 0.375rem;
  padding-left: calc(var(--spacing) * 5);
  padding-right: calc(var(--spacing) * 5);
  color: var(--color-stone-600);
}

.chat-message em {
  font-style: italic;
}
