# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:3000" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000"  # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="2000" # Max number of requests per window per IP


# Database Settings
DB_HOST="ruler-main-db"     # Database host
DB_PORT="3306"          # Database port
DB_USER="user"  # Database username
DB_PASS="rm-pass!9894@dd"
DB_NAME="ruler-main"      # Database name

# Monogo DB Settings
DB_MONGO_URI="mongodb://ruler-main-data:27017" # MongoDB connection URI
DB_MONGO_NAME="ruler-main" # MongoDB database name
DB_MONGO_USER="admin" # MongoDB username
DB_MONGO_PASS="rm-pass!9894@mm" # MongoDB password

# JWT Settings
ACCESSTOKEN_SECRET="mighty-alexander" # Secret key for JWT signing
REFRESHTOKEN_SECRET="silent-victor" # Secret key for refresh token signing
PASSTOKEN_SECRET="hidden-shadow" # Secret key for password reset token signing
EMAILTOKEN_SECRET="bright-sunrise" # Secret key for email verification token signing

# Hashing Settings
PASS_HASH_SALTS="10"             # Number of salt rounds for password hashing
PASS_HASH_PEPPER="brass-and-moss"      # Pepper for password hashing

# Hasing Settings
TOKEN_HASH_SALTS= "5"
TOKEN_HASH_PEPPER= "rose-and-heart"

# OAuth Settings
OAUTH_GOOGLE_CLIENT_ID="your-google-client-id" # Google OAuth Client ID
OAUTH_GOOGLE_CLIENT_SECRET="your-google-client-secret" # Google OAuth Client Secret
OAUTH_GOOGLE_REDIRECT_URI="http://localhost:8080/api/auth/google/callback" # Google OAuth Redirect URI
OAUTH_GITHUB_CLIENT_ID="your-github-client-id" # GitHub OAuth Client ID
OAUTH_GITHUB_CLIENT_SECRET="your-github-client-secret" # GitHub OAuth Client Secret
OAUTH_GITHUB_REDIRECT_URI="http://localhost:8080/api/auth/github/callback" # GitHub OAuth Redirect URI
OAUTH_KAKAO_CLIENT_ID="your-kakao-client-id" # Kakao OAuth Client ID
OAUTH_KAKAO_CLIENT_SECRET="your-kakao-client-secret" # Kakao OAuth Client Secret
OAUTH_KAKAO_REDIRECT_URI="http://localhost:8080/api/auth/kakao/callback" # Kakao OAuth Redirect URI
OAUTH_NAVER_CLIENT_ID="your-naver-client-id" # Naver OAuth Client ID
OAUTH_NAVER_CLIENT_SECRET="your-naver-client-secret" # Naver OAuth Client Secret
OAUTH_NAVER_REDIRECT_URI="http://localhost:8080/api/auth/naver/callback" # Naver OAuth Redirect URI