.main {
  box-sizing: border-box;
  padding: 0;

  max-width: 100vw;
  overflow: hidden;
  background-color: white;

  @media (color-scheme: dark) {
    background-color: var(--color-stone-800);
  }
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
