.main {
  box-sizing: border-box;
  padding: 0;

  max-width: 100vw;
  overflow: hidden;
  background-color: white;

  @media (color-scheme: dark) {
    background-color: var(--color-stone-800);
  }
}
